<footer class="page__footer">
    <div class="wrapper">
        <div class="button__arrow">
            <a href="#page__header"> <img src="assets/images/ico-arrow.svg" alt="arrow button"
                    class="button__nav-arrow">
            </a>
        </div>
        <div class="footer__grid">
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item"><a href="">Articles</a></li>
                    <li class="footer__menu-item"><a href="">Books</a></li>
                    <li class="footer__menu-item"><a href="">Events</a></li>
                    <li class="footer__menu-item"><a href="">Reasons</a></li>
                    <li class="footer__menu-item"><a href="">Tips</a></li>
                </ul>
            </div>
            <div class="footer__media">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item"><a href="">Twitter</a></li>
                    <li class="footer__menu-item"><a href="">Instagram</a></li>
                    <li class="footer__menu-item"><a href="">Mastodon.social</a></li>
                </ul>
            </div>
            <div class="footer__copy">
                <p>©2017</p>
                <p>we <span>❤︎</span> components</p>
            </div>
        </div>
    </div>
</footer>