<footer class="page__footer">
    <div class="wrapper">
        <div class="button__arrow">
            <a href=""> <img src="assets/images/ico-arrow.svg" alt="arrow button" class="button__nav-arrow">
            </a>
        </div>
        <div class="footer__menu">
            <ul class="footer__menu-list">
                <li class="footer__menu-item">Articles</li>
                <li class="footer__menu-item">Books</li>
                <li class="footer__menu-item">Events</li>
                <li class="footer__menu-item">Reasons</li>
                <li class="footer__menu-item">Tips</li>
            </ul>
        </div>
        <div class="footer__media">
            <ul class="footer__menu-list">
                <li class="footer__menu-item">Twitter</li>
                <li class="footer__menu-item">Instagram</li>
                <li class="footer__menu-item">Mastodon.social</li>
            </ul>
        </div>
        <div class="footer__copy">
            <p>©2017</p>
            <p>we <span>❤︎</span> components</p>
        </div>

    </div>

</footer>