<section class="grid__container">
    <div class="wrapper">
        <h2 class="grid__subtitle">3 Reasons To Purchase</h2>
        <ul class="grid">
            <li class="grid__item item1">
                <p class="grid__item-1">Ut sed metus</p>
                <p class="grid__item-2">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="grid__item item2">
                <p class="grid__item-1">Curabitur ac erat</p>
                <p class="grid__item-2">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="grid__item item3">
                <p class="grid__item-1">Morbi dictum</p>
                <p class="grid__item-2">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <div class="button__reasons item4">
            <p class="button__text">More reasons</p>
        </div>
    </div>
</section>