<header id="page__header" class="page__header">
    <div class="hero">
        <div class="hero__image"></div>
        <div class="wrapper">
            <div class="hero__text">
                <h1>Anonymous Proxy</h1>
                <p>In hac habitasse platea dictumst.</p>
            </div>
            <div class="button__scroll">
                <a href="#page__main"> <img src="assets/images/ico-scroll-down.svg" alt="scroll down button"
                        class="button__scroll-arrow">
                </a>
            </div>
            <button class="button__menu">
                <img src="assets/images/ico-menu.svg" class="button__menu-icon" alt="menu button">
            </button>
        </div>
    </div>
</header>