body {
    margin: 0;
}

.wrapper {
    padding: 0 15px;

    @media all and (min-width: 768px) {
        padding: 0 39px;
    }

    @media all and (min-width: 768px) {
        padding: 0 275px;
    }

}

.hero {
    position: relative;
    text-align: center;
}

.hero__image {
    background-image: url("../images/cover.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__text {
    position: absolute;
    top: 284px;
    left: 0;
    color: $colorTitle;
    width: 100%;
    margin: 0;
}

.hero__text h1 {
    text-transform: uppercase;
    font-size: $sizeTitle;
    font-family: $robotoSlab;
    font-weight: bold;
    margin-bottom: 10px;

    @media all and (min-width: 768px) {
        font-size: 80px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    @media all and (min-width: 1200px) {
        font-size: 100px;
        width: 750px;
        margin-right: 0;
        display: inline-block;
    }
}

.hero__text p {
    font-size: $sizeDefault;
    font-family: $roboto;
    font-weight: lighter;

    @media all and (min-width: 768px) {
        font-size: 24px; 
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.button__scroll {
    width: 45px;
    height: 45px;
    background: $colorTitle;
    border-radius: 50% 50%;
    position: absolute;
    bottom: 53px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__menu {
    width: 45px;
    height: 45px;
    background: $colorMenu;
    position: fixed;
    top: 0;
    left: 0;
}

