body {
    margin: 0;
}

.wrapper {
    padding: 0 15px;
    @media all and (min-width: 768px) {
        padding: 0 39px;
    }
    @media all and (min-width: 1200px) {
        padding: 0 275px;
    }
}
.main__article-item1 {
    font-family: $roboto;
    font-weight: lighter;
    font-size: 14px;
    line-height: 30px;
    color: $colorLight;
    margin: 30px 0 1px;
    @media all and (min-width: 768px) {
        margin-top: 60px;
    }
}
.main__article-title {
    @include subtitleStyle;
    }
.main__article-item2 {
    @include paragraphStyle ($colorText);
    @media all and (min-width: 768px) {
        margin-top: 30px;
    }
}
.button__go {
    margin-bottom: 45px;
    font-family: $roboto;
    font-size: 20px;
    color: $colorButton;
    border: solid $colorButton 2px;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    text-align: center;
    &:hover {
        font-size: 24px;
        transition: font-size ease 0.3s;
    }
    @media all and (min-width: 768px) {
        margin-bottom: 60px;
        width: 91px;
    }
    @media all and (min-width: 1200px) {
        width: 160px;
    }
    .button__go-text {
    margin: 0;
    line-height: 45px;
    }
}