@mixin subtitleStyle {
    margin: 0;
    font-family: $robotoSlab;
    font-size: $sizeSubtitle;
    color: $colorBlack;
    font-weight: bold;
    text-transform: capitalize;
}

@mixin paragraphStyle ($color) {
    margin: 15px 0 30px;
    font-family: $roboto;
    font-size: $sizeLarge;
    color: $color;
    font-weight: lighter;
}