@mixin subtitleStyle {
    margin: 0;
    font-family: $robotoSlab;
    font-weight: bold;
    font-size: 24px;
    color: $colorBlack;
    text-transform: capitalize;
}

@mixin paragraphStyle ($color) {
    font-family: $roboto;
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
    color: $color;
    
}