$colorTitle: white;
$colorMenu: #0271bc;
$colorButton: #f26002;
$colorLight: #8ccbea;
$colorBackground: #eff9ff;
$colorBlack: #000000;
$colorText: #4a4a4a;
$robotoSlab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
$sizeTitle: 42px;
$sizeSubtitle: 24px;
$sizeXL: 20px;
$sizeLarge: 18px;
$sizeDefault: 16px;
$sizeSmall: 14px;
